body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #3361ab;
  transition: color 0.3s ease;
}

a:hover {
  color: #0f64cc;
}

.nav-link{
  margin-left: 50px;
  color: #666 !important;
}

.nav-link:hover{
    color: #387ed1 !important;
}

.btn-primary {
    color: #fff !important;
}